h1, h2, h3, h4, p {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

h1 {
    font-size: 48px;
    font-weight: 600;
}

h2 {
    font-weight: 600 !important;
    font-size: 18px !important;
}

h3 {
    font-weight: 600 !important;
    font-size: 16px !important;
}

p {
    font-weight: 300 !important;
    font-size: 16px !important;
}

.logo img {
    height: 160px;
}

.logo-top {
    transition: 0.3s;
}

.logo-sec {
    height: 170px;
    background-color: white;
}

.logo-sec-bg {
    transition: 0.3s;
}

.header {
    background-color: white;
    width: 100%;
}

.head-txt {
    margin-top: 170px !important;
}

.nav-cookies {
}

    .nav-cookies h2 {
        position: relative;
    }

        .nav-cookies h2.active:after {
            content: "";
            position: absolute;
            background-color: black;
            border-radius: 20px;
            height: 7px;
            width: 100%;
            left: 0;
            bottom: -20px;
            transition: 0.3s;
        }
/* .nav-cookies h2:hover:after{
    width: 100%;
} */
.body-sec {
    background-color: #efefef;
    width: 100%;
}

.container2 {
    max-width: 608px;
}

.card-1 {
    background-color: white;
    border-radius: 10px;
}

.card-bg {
}

.card-1 p {
    font-size: 18px;
}

.cookie-img img {
    width: 160px;
}
/* //////I used flex here///// */
.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
    padding: 0px 5px;
}

/* /////JS Animations/////// */
.rotate {
    transform: rotate(-180deg);
    /*transform: rotate(180deg);*/
    transition: .3s;
}

.hide {
    display: none !important;
}

.rotate-reset {
    transform: rotate(0deg);
    transition: .3s;
}

.recipe {
    display: none;
    transition: 1.3s;
}

.recipe-show {
    display: block;
    transition: 10s;
}
