@{
    ViewData["Title"] = "Home Page";
}

<div class="body-sec">
        <div class="body container2 pt-5 m-auto">
            <h3>Food Allergy Warning:</h3>
            <p>Our cookies are made onsite and may come into contact with different allergens during production. Please be advised that any of our products may contain allergens including peanuts, tree nuts, milk, eggs, wheat, soy, and sesame. For additional nutritional information, please visit crumblcookies.com/nutrition.</p>
            <div class="card-1 mt-3">
                <div class="card-bg p-4">
                    <div class="row cookie-img">
                        <div class="col-4"><img src="/img/body-img/d7772be1-6559-456b-ac6f-9740ace1c751_BrownieBatter_Aerial_Tech.png"></div>
                        <div class="col-8">
                            <h3 class="col-8">Brownie Batter</h3>
                            <p>The classic—you can't go wrong. Thick, soft, and packed with milk chocolate chips.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="flex-container contains">
                        <div class="flex-item pt-1"><h3>Contains:</h3></div>
                        <div class="flex-item"><img src="/img/body-img/egg icon.svg"> Egg</div>
                        <div class="flex-item"><img src="/img/body-img/milk icon.svg"> Milk</div>
                        <div class="flex-item"><img src="/img/body-img/soy icon.svg"> Soy</div>
                        <div class="flex-item"><img src="/img/body-img/treenut icon.svg"> Treenut</div>
                        <div class="flex-item"><img src="/img/body-img/wheat icon.svg"> Wheat</div>

                    </div>
                    <hr>
                    <div class="row recipe-total">
                        <h3 class="col-6">View Nutritional Facts</h3>
                        <div class="col-6 text-end pb-3 arrow"><img class="arrow-img rotate-reset" src="/img/body-img/arrow-down.svg"></div>
                        <img class="recipe" src="/img/body-img/recipe.png">
                    </div>
                </div>
            </div>
            <div class="card-1 mt-3">
                <div class="card-bg p-4">
                    <div class="row cookie-img">
                        <div class="col-4"><img src="/img/body-img/f6ec67b1-3d5c-4869-83ca-f3ec2985b2a7_MoonCake_Aerial_Tech.png"></div>
                        <div class="col-8">
                            <h3 class="col-8">Mooncacke</h3>
                            <p>The classic—you can't go wrong. Thick, soft, and packed with milk chocolate chips.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="flex-container contains">
                        <div class="flex-item pt-1"><h3>Contains:</h3></div>
                        <div class="flex-item"><img src="/img/body-img/egg icon.svg"> Egg</div>
                        <div class="flex-item"><img src="/img/body-img/milk icon.svg"> Milk</div>
                        <div class="flex-item"><img src="/img/body-img/soy icon.svg"> Soy</div>
                        <div class="flex-item"><img src="/img/body-img/treenut icon.svg"> Treenut</div>
                        <div class="flex-item"><img src="/img/body-img/wheat icon.svg"> Wheat</div>

                    </div>
                    <hr>
                    <div class="row recipe-total">
                        <h3 class="col-6">View Nutritional Facts</h3>
                        <div class="col-6 text-end pb-3 arrow"><img class="arrow-img rotate-reset" src="/img/body-img/arrow-down.svg"></div>
                        <img class="recipe" src="/img/body-img/recipe.png">
                    </div>
                </div>
            </div>
            <div class="card-1 mt-3">
                <div class="card-bg p-4">
                    <div class="row cookie-img">
                        <div class="col-4"><img src="/img/body-img/507b3143-2f25-4c18-a334-a456295a436e_YellowSugar_Aerial_Tech.png"></div>
                        <div class="col-8">
                            <h3 class="col-8">Peanut Butter Cookies & Cream</h3>
                            <p>The classic—you can't go wrong. Thick, soft, and packed with milk chocolate chips.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="flex-container contains">
                        <div class="flex-item pt-1"><h3>Contains:</h3></div>
                        <div class="flex-item"><img src="/img/body-img/egg icon.svg"> Egg</div>
                        <div class="flex-item"><img src="/img/body-img/milk icon.svg"> Milk</div>
                        <div class="flex-item"><img src="/img/body-img/soy icon.svg"> Soy</div>
                        <div class="flex-item"><img src="/img/body-img/treenut icon.svg"> Treenut</div>
                        <div class="flex-item"><img src="/img/body-img/wheat icon.svg"> Wheat</div>

                    </div>
                    <hr>
                    <div class="row recipe-total">
                        <h3 class="col-6">View Nutritional Facts</h3>
                        <div class="col-6 text-end pb-3 arrow"><img class="arrow-img rotate-reset" src="/img/body-img/arrow-down.svg"></div>
                        <img class="recipe" src="/img/body-img/recipe.png">
                    </div>
                </div>
            </div>

            <div class="card-1 mt-3">
                <div class="card-bg p-4">
                    <div class="row cookie-img">
                        <div class="col-4"><img src="/img/body-img/507b3143-2f25-4c18-a334-a456295a436e_YellowSugar_Aerial_Tech.png"></div>
                        <div class="col-8">
                            <h3 class="col-8">Lemon Crinkle</h3>
                            <p>The classic—you can't go wrong. Thick, soft, and packed with milk chocolate chips.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="flex-container contains">
                        <div class="flex-item pt-1"><h3>Contains:</h3></div>
                        <div class="flex-item"><img src="/img/body-img/egg icon.svg"> Egg</div>
                        <div class="flex-item"><img src="/img/body-img/milk icon.svg"> Milk</div>
                        <div class="flex-item"><img src="/img/body-img/soy icon.svg"> Soy</div>
                        <div class="flex-item"><img src="/img/body-img/treenut icon.svg"> Treenut</div>
                        <div class="flex-item"><img src="/img/body-img/wheat icon.svg"> Wheat</div>

                    </div>
                    <hr>
                    <div class="row recipe-total">
                        <h3 class="col-6">View Nutritional Facts</h3>
                        <div class="col-6 text-end pb-3 arrow"><img class="arrow-img rotate-reset" src="/img/body-img/arrow-down.svg"></div>
                        <img class="recipe" src="/img/body-img/recipe.png">
                    </div>
                </div>
            </div>

            <div class="card-1 mt-3">
                <div class="card-bg p-4">
                    <div class="row cookie-img">
                        <div class="col-4"><img src="/img/body-img/b31ec433-ee3d-4ace-8758-6921d5c671c6_ChocolateChip_Aerial_Tech.png"></div>
                        <div class="col-8">
                            <h3 class="col-8">Milk Chocolate Chip</h3>
                            <p>The classic—you can't go wrong. Thick, soft, and packed with milk chocolate chips.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="flex-container contains">
                        <div class="flex-item pt-1"><h3>Contains:</h3></div>
                        <div class="flex-item"><img src="/img/body-img/egg icon.svg"> Egg</div>
                        <div class="flex-item"><img src="/img/body-img/milk icon.svg"> Milk</div>
                        <div class="flex-item"><img src="/img/body-img/soy icon.svg"> Soy</div>
                        <div class="flex-item"><img src="/img/body-img/treenut icon.svg"> Treenut</div>
                        <div class="flex-item"><img src="/img/body-img/wheat icon.svg"> Wheat</div>

                    </div>
                    <hr>
                    <div class="row recipe-total">
                        <h3 class="col-6">View Nutritional Facts</h3>
                        <div class="col-6 text-end pb-3 arrow"><img class="arrow-img rotate-reset" src="/img/body-img/arrow-down.svg"></div>
                        <img class="recipe" src="/img/body-img/recipe.png">
                    </div>
                </div>
            </div>
            <div class="card-1 mt-3">
                <div class="card-bg p-4">
                    <div class="row cookie-img">
                        <div class="col-4"><img src="/img/body-img/fc35c081-9be9-4f4a-91d1-870974b2f5fc_BananaCreamPie_Aerial_Tech_1.png"></div>
                        <div class="col-8">
                            <h3 class="col-8">Classic Pumpkin (Shipping)</h3>
                            <p>The classic—you can't go wrong. Thick, soft, and packed with milk chocolate chips.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="flex-container contains">
                        <div class="flex-item pt-1"><h3>Contains:</h3></div>
                        <div class="flex-item"><img src="/img/body-img/egg icon.svg"> Egg</div>
                        <div class="flex-item"><img src="/img/body-img/milk icon.svg"> Milk</div>
                        <div class="flex-item"><img src="/img/body-img/soy icon.svg"> Soy</div>
                        <div class="flex-item"><img src="/img/body-img/treenut icon.svg"> Treenut</div>
                        <div class="flex-item"><img src="/img/body-img/wheat icon.svg"> Wheat</div>

                    </div>
                    <hr>
                    <div class="row recipe-total">
                        <h3 class="col-6">View Nutritional Facts</h3>
                        <div class="col-6 text-end pb-3 arrow"><img class="arrow-img rotate-reset" src="/img/body-img/arrow-down.svg"></div>
                        <img class="recipe" src="/img/body-img/recipe.png">
                    </div>
                </div>
            </div>
            <div class="card-1 mt-3">
                <div class="card-bg p-4">
                    <div class="row cookie-img">
                        <div class="col-4"><img src="/img/body-img/c13827db-ac24-4cc2-90b7-aa97b1a3f044_MinionConfetti_Aerial_Tech.png"></div>
                        <div class="col-8">
                            <h3 class="col-8">Cake Batter Blondie (Rainbow)</h3>
                            <p>The classic—you can't go wrong. Thick, soft, and packed with milk chocolate chips.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="flex-container contains">
                        <div class="flex-item pt-1"><h3>Contains:</h3></div>
                        <div class="flex-item"><img src="/img/body-img/egg icon.svg"> Egg</div>
                        <div class="flex-item"><img src="/img/body-img/milk icon.svg"> Milk</div>
                        <div class="flex-item"><img src="/img/body-img/soy icon.svg"> Soy</div>
                        <div class="flex-item"><img src="/img/body-img/treenut icon.svg"> Treenut</div>
                        <div class="flex-item"><img src="/img/body-img/wheat icon.svg"> Wheat</div>

                    </div>
                    <hr>
                    <div class="row recipe-total">
                        <h3 class="col-6">View Nutritional Facts</h3>
                        <div class="col-6 text-end pb-3 arrow"><img class="arrow-img rotate-reset" src="/img/body-img/arrow-down.svg"></div>
                        <img class="recipe" src="/img/body-img/recipe.png">
                    </div>
                </div>
            </div>
        
            
        </div>
    </div>
